{#

/**
 * @file
 * Template for a list of donors/sectors.
 *
 * Available variables:
 * - id: unique id for the list
 * - type: type of donor data
 * - attributes: attributes for the container
 * - level: heading level for the title
 * - title: list's title
 * - title_attributes: title attributes
 * - year: the year of the data
 * - list: list of donors/sectors with name and optional pledged/paid amounts
 * - list_attributes: attributes for the list
 * - item_attributes: attributes for the list items
 * - format: number format
 * - precision: number format precision
 */

#}
{% if list is not empty %}
{{ attach_library('common_design_subtheme/uno-donors') }}
{% set title = 'Unearmarked contributions'|t %}
<section{{attributes.addClass('uno-donors','uno-donors--'~type|clean_class).setAttribute('id',id)}}>
  <header class="uno-donors__header">
    <h{{ level }}{{ title_attributes.addClass('uno-donors__title') }}>{{ title }}</h{{ level }}>
  </header>
  {% apply spaceless %}
  <ul{{ list_attributes.addClass('uno-donors__list') }}>
    {# Sort alphabetically. #}
    {% for item in list|taglist %}
    <li{{ item_attributes.addClass('uno-donors__list__item') }}>{{ item.name }}</li>
    {% endfor %}
  </ul>
  {% endapply %}
</section>
{% endif %}
