{#

/**
 * @file
 * Template for a list of donors/sectors.
 *
 * Available variables:
 * - id: unique id for the list
 * - type: type of donor data
 * - attributes: attributes for the container
 * - level: heading level for the title
 * - title: list's title
 * - title_attributes: title attributes
 * - year: the year of the data
 * - list: list of donors/sectors with name and optional pledged/paid amounts
 * - list_attributes: attributes for the list
 * - item_attributes: attributes for the list items
 * - format: number format
 * - precision: number format precision
 */

#}
{% if list is not empty %}
{{ attach_library('common_design_subtheme/uno-donors') }}
{% set title = 'Top 5 donors'|t %}
<section{{ attributes.addClass('uno-donors', 'uno-donors--' ~ type|clean_class).setAttribute('id', id) }}>
  <header class="uno-donors__header">
    <h{{ level }}{{ title_attributes.addClass('uno-donors__title') }}>{{ title }}</h{{ level }}>
  </header>
  {% apply spaceless %}
  <dl{{ list_attributes.addClass('uno-donors__list', 'uno-donors__list--with-figures') }}>
    {# Sort by funding amount descending. #}
    {% for item in list|sort((a, b) => b.total_funding <=> a.total_funding)|slice(0, 5) %}
    <div{{ item_attributes.addClass('uno-donor') }}>
      <dt class="uno-donors__donor">{{ item.name }}</dt>
      <dd class="uno-donors__amount"> ${{ item.total_funding|format_number_compact(null, format ?? 'long', precision ?? 1, true)  }}</dd>
    </div>
    {% endfor %}
  </dl>
  {% endapply %}
</section>
{% endif %}

