{#
/**
 * @file
 * Default theme implementation for a four-column 25%-25%-25%-25% layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--fivecol',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>

    <div class="layout--row">
      {% if content.first %}
        <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
          {{ content.second }}
        </div>
      {% endif %}

      {% if content.third %}
        <div {{ region_attributes.third.addClass('layout__region', 'layout__region--third') }}>
          {{ content.third }}
        </div>
      {% endif %}

      {% if content.fourth %}
        <div {{ region_attributes.fourth.addClass('layout__region', 'layout__region--fourth') }}>
          {{ content.fourth }}
        </div>
      {% endif %}

      {% if content.fifth %}
        <div {{ region_attributes.fifth.addClass('layout__region', 'layout__region--fifth') }}>
          {{ content.fifth }}
        </div>
      {% endif %}
    </div>

  {% if content.sixth|render or content.seventh|render or content.eighth|render or content.ninth|render or content.tenth|render %}
    <div class="layout--row">
      {% if content.sixth %}
        <div {{ region_attributes.sixth.addClass('layout__region', 'layout__region--sixth') }}>
          {{ content.sixth }}
        </div>
      {% endif %}

      {% if content.seventh %}
        <div {{ region_attributes.seventh.addClass('layout__region', 'layout__region--seventh') }}>
          {{ content.seventh }}
        </div>
      {% endif %}

      {% if content.eighth %}
        <div {{ region_attributes.eighth.addClass('layout__region', 'layout__region--eighth') }}>
          {{ content.eighth }}
        </div>
      {% endif %}

      {% if content.ninth %}
        <div {{ region_attributes.ninth.addClass('layout__region', 'layout__region--ninth') }}>
          {{ content.ninth }}
        </div>
      {% endif %}

      {% if content.tenth %}
        <div {{ region_attributes.tenth.addClass('layout__region', 'layout__region--tenth') }}>
          {{ content.tenth }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  </div>
{% endif %}
