{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--tabs',
    'uno-tabs'
  ]
%}

{{ attach_library('common_design_subtheme/uno-tabs') }}

{% if content %}
{% set region = 'tabs' %}

  <div{{attributes.addClass(classes)}}>

    <ul class="uno-tabs__list">
    {% for tab in content.tabs %}

      {# {{dpm(tab['#paragraph'])}} #}

      <li><a href="#section--{{ loop.index }}">Tab {{ loop.index }}</a></li>
    {% endfor %}
    </ul>

    {% for tab in content.tabs %}
      <section class="uno-tabs__section" id="section--{{ loop.index }}">
        {{ tab }}
      </section>
    {% endfor %}

  </div>
{% endif %}
