{#

/**
 * @file
 * Template of the reliefweb document pages.
 *
 * Available variables:
 * - level: heading level
 * - attributes: attributes for the document wrapper element
 * - title: document title
 * - title_attributes: attributes for the document title element
 * - date: document publication date
 * - content: document's content
 * - content_attributes: attributes for the document content wrapper
#}
<article{{ attributes.addClass('unocha-reliefweb-document')}}>
<header class="unocha-reliefweb-document__header">
  <h{{ level }}{{ title_attributes.addClass('unocha-reliefweb-document__title') }}>{{ title }}</h{{ level }}>
  <time class="unocha-reliefweb-document__date" datetime="{{ date|date('c') }} ">{{ date|date('j M Y') }}</time>
</header>
<div{{ content_attributes.addClass('unocha-reliefweb-document__content') }}>
  {{- content -}}
</div>
