{#

/**
 * @file
 * Template for a list of files.
 *
 * Available variables:
 * - attributes: wrapper attributes
 * - label_attributes: label attributes
 * - value_attributes: value attributes
 * - unit_attributes: value attributes
 * - label: figure label
 * - value: figure value
 * - unit: figure unit
 * - country: country name
 * - year: figure year
 */

#}
{% if label is not empty and value is not empty %}
<div{{ attributes.addClass('unocha-figure') }}>
  <dt{{ label_attributes.addClass('unocha-figure__label-wrapper') }}>
    <span{{ label_attributes.addClass('unocha-figure__label') }}>{{ label }}</span>
    {%- if unit is not empty -%}
      <small{{ unit_attribute.addClass('unocha-figure__unit') }}> ({{ unit }})</small>
    {%- endif -%}
  </dt>
  <dd{{ value_attributes.addClass('unocha-figure__value') }}>{{ value }}</dd>
</div>
{% endif %}

