{% embed '@common_design/cd/cd-footer/cd-social-menu.html.twig' %}
  {% block social_media %}
  <ul class="cd-footer-social__list">
    <li class="cd-footer-social__item">
      <a href="https://www.facebook.com/UNOCHA" class="cd-footer-social__link">
        <span class="visually-hidden">{{ 'Facebook'|t }}</span>

        <svg class="cd-icon cd-icon--facebook" aria-hidden="true" focusable="false" width="32" height="32">
          <use xlink:href="#cd-icon--sm-fb-def"></use>
        </svg>

        <svg class="cd-icon cd-icon--facebook hover-style" aria-hidden="true" focusable="false" width="32" height="32">
          <use xlink:href="#cd-icon--sm-fb-full"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/unocha" class="cd-footer-social__link">
        <span class="visually-hidden">{{ 'Twitter'|t }}</span>

        <svg class="cd-icon cd-icon--twitter" aria-hidden="true" focusable="false" width="32" height="32">
          <use xlink:href="#cd-icon--sm-tt-def"></use>
        </svg>

        <svg class="cd-icon cd-icon--twitter hover-style" aria-hidden="true" focusable="false" width="32" height="32">
          <use xlink:href="#cd-icon--sm-tt-full"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/ochafilms" class="cd-footer-social__link">
        <span class="visually-hidden">{{ 'YouTube'|t }}</span>

        <svg class="cd-icon cd-icon--youtube" aria-hidden="true" focusable="false" width="32" height="32">
          <use xlink:href="#cd-icon--sm-yt-def"></use>
        </svg>

        <svg class="cd-icon cd-icon--youtube hover-style" aria-hidden="true" focusable="false" width="32" height="32">
          <use xlink:href="#cd-icon--sm-yt-full"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/united-nations-ocha" class="cd-footer-social__link">
        <span class="visually-hidden">{{ 'LinkedIn'|t }}</span>

        <svg class="cd-icon cd-icon--linkedin" aria-hidden="true" focusable="false" width="32" height="32">
          <use xlink:href="#cd-icon--sm-ln-def"></use>
        </svg>

        <svg class="cd-icon cd-icon--linkedin hover-style" aria-hidden="true" focusable="false" width="32" height="32">
          <use xlink:href="#cd-icon--sm-ln-full"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://instagram.com/un_ocha" class="cd-footer-social__link">
        <span class="visually-hidden">{{ 'Instagram'|t }}</span>

        <svg class="cd-icon cd-icon--instagram" aria-hidden="true" focusable="false" width="32" height="32">
          <use xlink:href="#cd-icon--sm-ig-def"></use>
        </svg>

        <svg class="cd-icon cd-icon--instagram hover-style" aria-hidden="true" focusable="false" width="32" height="32">
          <use xlink:href="#cd-icon--sm-ig-full"></use>
        </svg>
      </a>
    </li>
  </ul>
  {% endblock %}
{% endembed %}


