{{ attach_library('common_design_subtheme/cd-social-links') }}
<footer class="cd-social-links clearfix">
  <div role="status" class="cd-social-links__announce"></div>
  <div class="cd-social-links__wrapper">
    <span class="cd-social-links__label">{{ "Share"|t }}</span>
      <ul class="cd-social-links__list">
        <li class="cd-social-links__item">
          <a class="cd-social-links__link cd-social-links__link--facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ url('<current>') }}">
            <span class="visually-hidden">{{ 'Share on Facebook'|t }}</span>
            <svg class="cd-icon cd-icon--social-links--facebook" aria-hidden="true" focusable="false" width="16" height="16">
              <use xlink:href="#cd-icon--social-links--facebook"></use>
            </svg>
          </a>
        </li>
        <li class="cd-social-links__item">
          <a class="cd-social-links__link cd-social-links__link--twitter" target="_blank" href="https://twitter.com/intent/tweet/?{{ url('<current>') }}">
            <span class="visually-hidden">{{ 'Share on Twitter'|t }}</span>
            <svg class="cd-icon cd-icon--social-links--twitter" aria-hidden="true" focusable="false" width="16" height="16">
              <use xlink:href="#cd-icon--social-links--twitter"></use>
            </svg>
          </a>
        </li>
        <li class="cd-social-links__item">
          <a class="cd-social-links__link cd-social-links__link--linkedin" target="_blank" href="https://www.linkedin.com/shareArticle?url={{ url('<current>') }}">
            <span class="visually-hidden">{{ 'Share on LinkedIn'|t }}</span>
            <svg class="cd-icon cd-icon--social-links--linkedin" aria-hidden="true" focusable="false" width="16" height="16">
              <use xlink:href="#cd-icon--social-links--linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="cd-social-links__item">
          <a class="cd-social-links__link cd-social-links__link--email" href="mailto:?subject=UNOCHA&amp;body=?url={{ url('<current>') }}">
            <span class="visually-hidden">{{ 'Share by Email'|t }}</span>
            <svg class="cd-icon cd-icon--social-links--email" aria-hidden="true" focusable="false" width="16" height="16">
              <use xlink:href="#cd-icon--social-links--email"></use>
            </svg>
          </a>
        </li>
      </ul>
  </div>
</footer>
