{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content.donors }}
      {{ content|without('donors', 'field_url', 'field_figures_footnote') }}

      {% if content.field_figures_footnote|render %}
        {% set donor_type = content.field_country_donors.0['#type'] ?? content.field_presence_donors.0['#type'] %}
        <div class="uno-donors__footnote">
          {% if donor_type == 'oct_unearmarked_donors' %}
            {{ content.field_figures_footnote }}
            <p>
            {% trans %}
            Unearmarked contributions (or commitments) are those for which the donor does not require the funds to be used for a specific project, sector, crisis or country, leaving OCHA to decide how to allocate the funds.
            {% endtrans %}
            </p><p>
            {% trans %}
            Opening balance may include unearmarked and earmarked funding with implementation dates beyond the calendar year, and excludes miscellaneous income (e.g. adjustments, gain/losses on exchange rate etc.)
            {% endtrans %}
            </p><p>
            {% trans %}
            Funding information from the OCHA Contributions Tracking System.
            {% endtrans %}
            </p>
        {% else %}
          {{ content.field_figures_footnote }}
          {% endif %}
        </div>
      {% endif %}

      {% if paragraph.field_url.0.url %}
      <div class="uno-donors__more">
        {# <a class="cd-button cd-button--outline cd-button--bold cd-button--wide cd-button--uppercase call-to-action" href="{{ paragraph.field_url.0.url }}" target="_blank">{{ paragraph.field_url.0.title }}</a> #}

        <a href="{{ paragraph.field_url.0.url }}" target="_blank">{{ paragraph.field_url.0.title }}</a>

      </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
