{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
<div{{attributes.addClass(classes)}}>
  {{ attach_library('common_design_subtheme/rw-brand') }}
  {{ attach_library('common_design_subtheme/rw-key-figures') }}
  <div class="rw-key-figures">
    {# <ul class="rw-key-figures__list">
      {% for figure in data %}
      <li>
        <figure class="rw-key-figures__figure rw-key-figures__figure--{{ figure.status }}">
          <figcaption class="rw-key-figures__figure__label">{{ figure.name }}</figcaption>
          <div class="rw-key-figures__figure__content">
            <p>
              <data value="{{ figure.value }}" class="rw-key-figures__figure__value">{{ figure.value|number_format }}</data>
              {% if figure.trend %}
                <small class="rw-key-figures__figure__trend"><span class="rw-key-figures__figure__trend__message">{{ figure.trend.message }}</span> <span class="rw-key-figures__figure__trend__since">{{ figure.trend.since }}</span></small>
              {% endif %}
            </p>
            {% if figure.sparkline %}
            <svg viewBox="0 0 120 40" xmlns="http://www.w3.org/2000/svg" width="120" fill="none" stroke="#999" aria-hidden="true">
              <polyline points="{{ figure.sparkline.points|join(' ') }}"/>
            </svg>
            {% endif %}
          </div>
          <footer class="rw-key-figures__figure__footer">
            <time datetime="{{ figure.date|date('c') }}" class="rw-key-figures__figure__updated">{{ figure.updated }}</time>
            <cite class="rw-key-figures__figure__source"><span class="visually-hidden">{{ 'Source: '|t }} </span><a href="{{ figure.url }}">{{ figure.source }}</a></cite>
          </footer>
        </figure>
      </li>
      {% endfor %}
    </ul> #}
  {{ content.field_title}}
  {{ content.field_text}}
  <ul class="rw-key-figures__list">
    <li>
      <figure class="rw-key-figures__figure rw-key-figures__figure--standard">
        <figcaption class="rw-key-figures__figure__label">People in Need</figcaption>
        <div class="rw-key-figures__figure__content">
          <p>
            <data value="28300000" class="rw-key-figures__figure__value">28,300,000</data>
            <small class="rw-key-figures__figure__trend">
              <span class="rw-key-figures__figure__trend__message">16% increase</span>
              <span class="rw-key-figures__figure__trend__since">since 11 Jan 2022</span>
            </small>
          </p>
          <svg viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg" width="120" fill="none" stroke="#999" aria-hidden="true">
            <polyline points="120,0 108.09,6.24 106.62,6.24 94.6,15.84 86.7,22.88 80.82,30.24 67.04,35.2 60.24,36.48 52.89,40 46.9,30.4 40.61,30.4 27.16,32.32 12.39,33.44 0,30.88"></polyline>
          </svg>
        </div>
        <footer class="rw-key-figures__figure__footer">
          <time datetime="2022-12-01T12:00:00+00:00" class="rw-key-figures__figure__updated">Updated 1 Dec 2022</time>
          <cite class="rw-key-figures__figure__source">
            <span class="visually-hidden">Source:
            </span>
            <a href="https://reliefweb.int/node/3911518">OCHA</a>
          </cite>
        </footer>
      </figure>
    </li>
    <li>
      <figure class="rw-key-figures__figure rw-key-figures__figure--standard">
        <figcaption class="rw-key-figures__figure__label">People Targeted for Assistance</figcaption>
        <div class="rw-key-figures__figure__content">
          <p>
            <data value="23700000" class="rw-key-figures__figure__value">23,700,000</data>
            <small class="rw-key-figures__figure__trend">
              <span class="rw-key-figures__figure__trend__message">7% increase</span>
              <span class="rw-key-figures__figure__trend__since">since 11 Jan 2022</span>
            </small>
          </p>
          <svg viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg" width="120" fill="none" stroke="#999" aria-hidden="true">
            <polyline points="120,0 108.09,3.06 106.62,3.06 94.6,15.31 86.7,24.11 80.82,31.77 67.04,36.75 60.24,37.32 52.89,40 46.9,34.45 40.61,34.45 27.16,38.66 12.39,38.09 0,35.79"></polyline>
          </svg>
        </div>
        <footer class="rw-key-figures__figure__footer">
          <time datetime="2022-12-01T12:00:00+00:00" class="rw-key-figures__figure__updated">Updated 1 Dec 2022</time>
          <cite class="rw-key-figures__figure__source">
            <span class="visually-hidden">Source:
            </span>
            <a href="https://reliefweb.int/node/3911518">OCHA</a>
          </cite>
        </footer>
      </figure>
    </li>
    <li>
      <figure class="rw-key-figures__figure rw-key-figures__figure--standard">
        <figcaption class="rw-key-figures__figure__label">Children in Need</figcaption>
        <div class="rw-key-figures__figure__content">
          <p>
            <data value="15300000" class="rw-key-figures__figure__value">15,300,000</data>
            <small class="rw-key-figures__figure__trend">
              <span class="rw-key-figures__figure__trend__message">19% increase</span>
              <span class="rw-key-figures__figure__trend__since">since 7 Dec 2021</span>
            </small>
          </p>
          <svg viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg" width="120" fill="none" stroke="#999" aria-hidden="true">
            <polyline points="120,0 106.46,7.16 103.08,16.72 93.14,23.58 79.16,30.45 67.7,34.33 60.41,38.51 53.16,40 50.51,33.73 39.8,30.75 26.78,31.94 13.02,37.31 0,27.76"></polyline>
          </svg>
        </div>
        <footer class="rw-key-figures__figure__footer">
          <time datetime="2022-12-06T12:00:00+00:00" class="rw-key-figures__figure__updated">Updated 6 Dec 2022</time>
          <cite class="rw-key-figures__figure__source">
            <span class="visually-hidden">Source:
            </span>
            <a href="https://reliefweb.int/node/3913443">UNICEF</a>
          </cite>
        </footer>
      </figure>
    </li>
    <li>
      <figure class="rw-key-figures__figure rw-key-figures__figure--standard">
        <figcaption class="rw-key-figures__figure__label">People in Food Crisis/Emergency (IPC phase 3+)</figcaption>
        <div class="rw-key-figures__figure__content">
          <p>
            <data value="19650163" class="rw-key-figures__figure__value">19,650,163</data>
            <small class="rw-key-figures__figure__trend">
              <span class="rw-key-figures__figure__trend__message">4% increase</span>
              <span class="rw-key-figures__figure__trend__since">since 25 Oct 2021</span>
            </small>
          </p>
          <svg viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg" width="120" fill="none" stroke="#999" aria-hidden="true">
            <polyline points="120,0 111.44,1.88 103.31,20.28 96.1,19.79 88.2,20.47 80.42,21.92 78.41,21.92 62.47,22.84 44.73,28.04 17.26,40 12.49,39.87 0,31.58"></polyline>
          </svg>
        </div>
        <footer class="rw-key-figures__figure__footer">
          <time datetime="2022-05-09T12:00:00+00:00" class="rw-key-figures__figure__updated">Updated 9 May 2022</time>
          <cite class="rw-key-figures__figure__source">
            <span class="visually-hidden">Source:
            </span>
            <a href="https://reliefweb.int/node/3844817">IPC</a>
          </cite>
        </footer>
      </figure>
    </li>
    <li>
      <figure class="rw-key-figures__figure rw-key-figures__figure--standard">
        <figcaption class="rw-key-figures__figure__label">Estimated IDPs by Conflict</figcaption>
        <div class="rw-key-figures__figure__content">
          <p>
            <data value="3500000" class="rw-key-figures__figure__value">3,500,000</data>
            <small class="rw-key-figures__figure__trend">
              <span class="rw-key-figures__figure__trend__message">No change</span>
              <span class="rw-key-figures__figure__trend__since">since 15 Apr 2022</span>
            </small>
          </p>
          <svg viewbox="0 0 120 40" xmlns="http://www.w3.org/2000/svg" width="120" fill="none" stroke="#999" aria-hidden="true">
            <polyline points="120,0 96.79,0 81.48,6.67 67.65,6.67 52.35,6.67 37.04,6.67 22.22,6.67 15.31,40 6.91,40 0,40"></polyline>
          </svg>
        </div>
        <footer class="rw-key-figures__figure__footer">
          <time datetime="2022-06-01T12:00:00+00:00" class="rw-key-figures__figure__updated">Updated 1 Jun 2022</time>
          <cite class="rw-key-figures__figure__source">
            <span class="visually-hidden">Source:
            </span>
            <a href="https://reliefweb.int/report/afghanistan/unhcr-regional-bureau-asia-and-pacific-rbap-flash-external-update-afghanistan-situation-17-01-june-2022-two-week-coverage-period">UNHCR</a>
          </cite>
        </footer>
      </figure>
    </li>
  </ul>

    <footer class="view-more rw-key-figures__links">
      {# <a href="https://reliefweb.int/country/{{ country_iso|lower }}?figures=all#key-figures">{{ 'View all @country figures'|t({'@country': country_name}) }}</a> #}
      <a href="https://reliefweb.int/country/afg?figures=all#key-figures">{{ 'View all Afghanistan figures'|t }}</a>
    </footer>

  </div>{# .rw-key-figures #}

</div>{% endblock paragraph %}
