{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @overrides html/themes/custom/common_design_subtheme/templates/paragraph.html.twig
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('common_design/cd-button') }}
{{ attach_library('common_design_subtheme/uno-cta') }}
{{ attach_library('common_design/cd-bleed') }}


{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'cd-align--center',
    'cd-bleed'
  ]
%}
{% set destination = paragraph.field_destination.0.url %}
{% set link_text = paragraph.field_destination.0.title %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    {{ content|without('field_destination')}}
      {% if paragraph.field_destination.0.url %}
        <a id="cta--{{ paragraph.id() }}" class="cd-button cd-button--outline cd-button--bold cd-button--wide cd-button--uppercase call-to-action" href="{{ destination }}" target="_blank">{{ link_text }}</a>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
