{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{{ attach_library('common_design_subtheme/uno-river') }}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
  {{ content.field_title}}
  {{ content.field_text}}
    <div class="uno-river">
      <div class="uno-river__results">
        <h2 class="visually-hidden">ReliefWeb results</h2>

        <article class="uno-river__result" data-rw-id="3875942">
          <header>
            <p class="country">
              <span class="country--primary">Afghanistan</span>
            </p>
            <h3 class="title">
              <a href="https://reliefweb.int/node/3875942" target="_blank">Afghanistan: Joint Rapid Needs Assessments Guidance Note (May 2021)</a>
              <span class="hri__external-url"></span>
            </h3>
          </header>

          <div class="content">
            <img src="https://reliefweb.int/sites/default/files/styles/thumbnail/public/previews/dc/24/dc24cacf-a73f-45a8-bbc9-090ab0d43791.png?2341036" alt="English version">

            <p>Background
              In an increasingly complex operating environment, stronger coordination around humanitarian needs assessments is critical to enable effective assessment of multi-dimensional needs; optimise available resources (including use of trained enumerators); reduce the burden on key informants; and…</p>
          </div>

          <footer>
            <dl class="meta core">
              <dt class="format manual-and-guideline visually-hidden">Format:</dt>
              <dd class="format manual-and-guideline">Manual and Guideline</dd>

              <dt class="source">Source:</dt>
              <dd class="source">OCHA</dd>

              <dt class="date posted">Posted:</dt>
              <dd class="date posted">10 Jun 2021</dd>

              <dt class="files">Files:</dt>
              <dd class="files">
                <a class="uno-river__file cd-button cd-button--small cd-button--icon" href="https://reliefweb.int/attachments/dc24cacf-a73f-45a8-bbc9-090ab0d43791/joint_rapid_needs_assessments_-_guidance_note_9june2021.pdf" title="">
                  <span class="visually-hidden">Download</span>
                  <span class="cd-button__icon uno-river__file-icon"></span>
                </a>
                <em>&nbsp;+ 1 more</em>
              </dd>
            </dl>
          </footer>
        </article>

      </div>
    </div>

  </div>
{% endblock paragraph %}
