{#

/**
 * @file
 * Template file for a report entity article in a river.
 *
 * Available variables;
 * - level: heading level (defaults to 3)
 * - attributes: article attributes
 * - entity: the article entity's data as an associative array with notably:
 *   - url: url to the full article/page
 *   - title: article title
 *   - langcode: article language code
 *   - id: entity id
 *   - bundle: entity bundle.
 *   - tags (optional): list of terms the entity is tagged with
 *   - various properties like posting date, status etc.
 * - meta_attributes: meta information attributes.
 */

#}
<article{{ attributes
  .addClass([
    'rw-river-article',
    'rw-river-article--' ~ entity.bundle,
    entity.image ? 'rw-river-article--with-image',
    entity.summary ? 'rw-river-article--with-summary',
    entity.preview ? 'rw-river-article--with-preview',
  ])
  .setAttribute('data-id', entity.id)
}}>
  {# Header with country slug and title. #}
  <header class="rw-river-article__header">
    {# Country slug. #}
    {{ render_var({
      '#theme': 'unocha_reliefweb_entity_country_slug',
      '#countries': entity.tags.country,
    }) }}

    <span class="uno-tag">{{ entity.format }}</span>

    {# Title. #}
    {{ render_var({
      '#theme': 'unocha_reliefweb_river_article_title',
      '#level': level,
      '#langcode': entity.langcode,
      '#url': entity.url,
      '#title': entity.title,
    }) }}
  </header>

  {# Image (ex: headline). #}
  {% if entity.image is not empty %}
    {{ render_var({
      '#theme': 'unocha_reliefweb_entity_image',
      '#style': 'medium',
      '#image': entity.image,
      '#caption': false,
    }) }}
  {% endif %}

  {# Article attachment preview and/or summary. #}
  {% if entity.summary is not empty or entity.preview is not empty %}
  <div class="rw-river-article__content" lang="{{ entity.langcode }}">
    {% if entity.preview is not empty %}
    <img src="{{ entity.preview.url }}" alt="{{ entity.preview.alt ?? '' }}" loading="lazy">
    {% endif %}
    {% if entity.summary is not empty %}
    <p>{{ entity.summary }}</p>
    {% endif %}
  </div>
  {% endif %}

  {# Footer with meta information (sources, dates etc.). #}
  <footer class="rw-river-article__footer">
    {{ render_var({
      '#theme': 'unocha_reliefweb_entity_meta',
      '#attributes': meta_attributes,
      '#meta': {
        'format': {
          'type': 'simple',
          'label': 'Format'|t,
          'value': entity.format,
          'label_attributes': create_attribute()
            .addClass('visually-hidden'),
          'value_attributes': create_attribute()
            .addClass('rw-entity-meta__tag-value--format--' ~ entity.format|clean_class),
        },
        'posted': {
          'type': 'date',
          'label': 'Posted'|t,
          'value': entity.posted,
        },
        'published': {
          'type': 'date',
          'label': 'Originally published'|t,
          'value': entity.published,
        },
        'source': {
          'type': 'taglist',
          'label': entity.tags.source|length > 1 ? 'Sources'|t : 'Source'|t,
          'value': entity.tags.source,
          'count': 3,
          'sort': 'shortname',
          'display': 'shortname',
        },
      }
    }) }}

    <a href="{{ entity.url }}" class="cd-read-more">
      {% trans %}Read more{% endtrans %}
      <svg class="cd-icon cd-icon--arrow-right" aria-hidden="true" focusable="false" width="16" height="16">
        <use xlink:href="#cd-icon--arrow-right"></use>
      </svg>
    </a>
  </footer>
</article>
